img{
	border-style: double;
	border-color: yellow;
	height: 200px;
}
table{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	font-family: ;
}
ul{
	font-family: Serif;
}
body{
	margin-right: 50px;
	margin-top: 50px;
}
.Div2{
	background-color: #FF0000;
	padding: 2px 12px 2px;
}
.Div1{
	background-color: #FF0000;
	padding: 10px 12px 10px;
}
td{
	background-color: orangered;
}